.menu {
    &-close {
        display: none;
    }

    &-content {
        display: flex;
        list-style-type: none;
        gap: 0 40px;
    }

    &-link {
        color: var(--text-color);
    }

    &-item:nth-last-child(1),
    &-item:nth-last-child(2) {
        display: none;
    }

    &-toggle {
        display: none;
    }

    &-item .header-mode {
        display: none;
        margin-top: 12px;
    }
}

@media (hover: hover) {
    .menu-link {
        position: relative;
        transition: all 0.2s linear;

        &:after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: auto;
            right: 0;
            width: 0;
            height: 3px;
            background-color: $primary-color;
            transition: all 0.2s linear;
        }

        &:hover {
            color: $primary-color;
            
            &:after {
                width: 100%;
                left: 0;
                right: auto;
            }
        }
    }
}

@media screen and (max-width: 1023.98px) {
    .menu {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: $white-color;
        width: 300px;
        border-left: 1px solid $gray-color;
        z-index: 99;
        transform: translateX(100%);
        will-change: transform;
        transition: all linear 0.2s;

        &.is-show {
            transform: translateX(0);
            background-color: var(--background-color);
        }
    }

    .menu-close {
        display: inline-block;
        padding: 16px;
        font-size: 32px;
    }

    .menu-content {
        flex-direction: column;
        align-items: center;
        gap: 10px 0;
        padding-top: 30px;
    }

    .menu-link {
        display: block;
        width: 100%;
        padding: 10px;
    }

    .menu-item:nth-last-child(1),
    .menu-item:nth-last-child(2) {
        display: block;
    }

    .menu-toggle {
        display: inline-block;
        font-size: 32px;
        padding: 16px;
    }

    .menu-item .header-mode {
        display: block;
    }
}